@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    width: 100vw;
    height: 100vh;
    background-image: url("../public/danny-howe-bn-D2bCvpik-unsplash.jpg");
    /* background-color: blueviolet; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(30px);
    overflow-y: hidden;

    color: white;
}
*{
    margin: 0;
    top: 0;
    padding: 0;
    box-sizing: border-box;

}